body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator-container{
    background-color: #2F2F2F;
    margin-top: 100px;
    width: 400px;
    height: 500px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
}

#display{
    background-color: #B2B9B7;
    grid-column: 1/5;
}

#zero{
    grid-column: 1/3;
}